@page "/orders/ordersList" 
@using GDB.Web.BLL.Interface
@using GDB.Web.Shared
@using System.Globalization
@using Radzen
@using Radzen.Blazor

@inject IOrderService OrderService
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender:false)) 


<div class="row">
    <div class="col-lg-6" align="left">
        <h2>Orders</h2>
    </div>
    <div class="col-lg-6" align="right">
        <button @onclick="AddNewOrder" class="btn btn-success fw-bold" style="margin-right:30px;">
            <i class="fa fa-plus" aria-hidden="true"></i>
            &nbsp;&nbsp;Add Order
        </button>
        <a href="/reports/reportsHome" class="text-warning text-decoration-none" style="padding-right:10px;">
            <i class="fas fa-chart-line" aria-hidden="true"></i>
            &nbsp;&nbsp;View Reports
        </a>
    </div>
</div>
<div class="row">
    @if (ordersViewModel != null)
    {
        <RadzenDataGrid class="radzen-grid radgen-grid-font"
                        Data="@ordersViewModel"
                        TItem="OrdersViewModel"
                        EditMode="Radzen.DataGridEditMode.Single"
                        AllowFiltering="true"
                        AllowPaging="true"
                        AllowSorting="true"
                        PageSize="15"
                        GridLines="@GridLines"
                        CellRender="@OnCellRender"
                        RowRender="@OnRowRender">
            <Columns>
                <RadzenDataGridColumn Property="OrderId" Title="Id" Width="100" Visible="false" />
                <RadzenDataGridColumn Property="WeekId" Title="Week" Width="80px" />
                <RadzenDataGridColumn Property="CustomerName" Title="Customer Name" Width="150px" />                
                <RadzenDataGridColumn Property="Location" Title="Location" Width="120px" />
                <RadzenDataGridColumn Property="AdvertisementDescription" Title="How did hear?" Width="170px" />
                <RadzenDataGridColumn Property="OrderTypeName" Title="OrderType Name" Width="140px" />

                <RadzenDataGridColumn Property="OrderDate" Title="Order Date" Width="100px" >
                    <Template Context="data">
                        @data.OrderDate.Value.ToString("dd/MM/yyyy")
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="Quantity" Title="Quantity" Width="100px" />
                <RadzenDataGridColumn Property="AmountPaid" Title="Amount Paid" Width="120px" />
                <RadzenDataGridColumn Property="Amount" Title="Amount" Width="100px" >
                    <Template Context="data">
                        <span style="color:red;font-weight:bold;">
                            @data.Amount.ToString("C", CultureInfo.CreateSpecificCulture("en-GB"))
                        </span>
                    </Template>
                    <FooterTemplate>
                        <span style="color:red;font-weight:600;">
                            <b>Total: @ordersViewModel.Sum(t => t.Amount).ToString("C", CultureInfo.CreateSpecificCulture("en-GB"))</b>
                        </span>
                    </FooterTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="AmountPaidDate" Title="Paid Date" Width="110px"  >
                    <Template Context="data">
                        @data.OrderDate.Value.ToString("dd/MM/yyyy")
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="PaymentType" Title="Payment Type" Width="120px" />                 

                <RadzenDataGridColumn TItem="OrdersViewModel" Width="120px">
                    <Template Context="data">
                        <RadzenButton ButtonType="Radzen.ButtonType.Button"
                                      Icon="edit" Size="Radzen.ButtonSize.Small"
                                      Style="margin-right:5px;"
                                      Click="@(() => EditRow(data))" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }
</div> 

@code {
    public List<OrdersViewModel> ordersViewModel{ get; set; }
    public int currentWeekId { get; set; }
    Radzen.DataGridGridLines GridLines = Radzen.DataGridGridLines.Both;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ordersViewModel = new List<OrdersViewModel>();
            ordersViewModel = await OrderService.GetAllOrders<List<OrdersViewModel>>();
            currentWeekId = await OrderService.GetMaxWeekId<int>();

        }
        catch(Exception ex)
        {
            string errorMessage = ex.Message;
        }     
    }
    void EditRow(OrdersViewModel ordersViewModel)
    {
        NavigationManager.NavigateTo("/orders/update" + "/" + Convert.ToString(ordersViewModel.OrderId));
    }

    private void AddNewOrder()
    {
        NavigationManager.NavigateTo("/orders/add");
    } 
    
    void OnRowRender(RowRenderEventArgs<OrdersViewModel> args)
    {
        if ((args.Data.AmountPaid == null) || (args.Data.AmountPaid == false)){
            args.Attributes.Add("style", "background-color: lightgreen;");
        }
           
    }
    void CellRender(DataGridCellRenderEventArgs<OrdersViewModel> args)
    {
        if ((args.Data.AmountPaid == null) || (args.Data.AmountPaid == false))
        {
            args.Attributes.Add("style", "background-color:#7B68EE !important;");
        }
    }

    void OnCellRender(DataGridCellRenderEventArgs<OrdersViewModel> args)
    {
        if (args.Column.Property == "AdvertisementDescription")
        {
            if (args.Data.AdvertisementDescription == "Biriyani Group")
            {
                args.Attributes["style"] = "color:white;font-weight:bold;background-color:deepskyblue;";
            }
            else if (args.Data.AdvertisementDescription == "Friend Referral")
            {
                args.Attributes["style"] = "color:#842029;font-weight:bold;background-color:#d7d1fa !important;";
            }
            else if (args.Data.AdvertisementDescription == "Royal Super Market")
            {
                args.Attributes["style"] = "color:black;font-weight:bold;background-color:#d3d9de !important;";
            }
            else if (args.Data.AdvertisementDescription == "Medway Telugu Community")
            {
                args.Attributes["style"] = "color:#FFFFFF;font-weight:bold;background-color:rgb(255, 165, 0);";
            }
            else if (args.Data.AdvertisementDescription == "KTC Kent Telugu Community Group")
            {
                args.Attributes["style"] = "color:#842029;background-color:#FFFFE0 !important;";
            }
            else if (args.Data.AdvertisementDescription == "Bharat Storese")
            {
                args.Attributes["style"] = "color:#842029;background-color:lightcoral; !important;";
            }
            else if (args.Data.AdvertisementDescription == "Nissan Local")
            {
                args.Attributes["style"] = "color:#842029;background-color:#FF7F7F !important;";
            }
            else if (args.Data.AdvertisementDescription == "Royal Super Market")
            {
                args.Attributes["style"] = "color:#FFFFFF;font-weight:bold;background-color:lightblue;";
            }
            else if (args.Data.AdvertisementDescription == "Oral Communication")
            {
                args.Attributes["style"] = "color:#FFFFFF;font-weight:bold;background-color:lightsalmon;";
            }
        }
    }





}
<style type="text/css">
 .gridItemColor{
     color:red;
 }

    .green-text {
        color: green;
        font-weight: bold;
    }

    .red-text {
        color: red;
        font-weight: bold;
    }
</style>
